<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <p>
      Hello guys, my name is Daniel and i am a software developer and student of computer engeneer.
      I like a lot to study techs as Angular, C#, .net Core, TypeScript and try to develop somethings with them.
    </p>
  </ion-item>

  <ion-item lines="none">
    <p>
      This app has a only objective: Remember you of something.
    </p>
  </ion-item>

  <ion-item lines="none">
    <p>
     Do you wanna help me in some feature? If yes, then open a fork and make a contribution to
     a open souce world
    </p>
  </ion-item>

  <ion-item lines="none">
    <p>
      <span style="display: flex; flex-direction: column;">
        <strong>api (C#, .Net Core, EF Core, SQLite ): </strong>
        <a target="_blank" href="https://github.com/dlexPildas/dlexpildas-api">https://github.com/dlexPildas/dlexpildas-api</a>
      </span>

      <span style="display: flex; flex-direction: column; margin-top: 15px;">
       <strong>app (Ionic e Angular): </strong>
       <a target="_blank" href="https://github.com/dlexPildas/dlexpildas-api">https://github.com/dlexPildas/dlexpildas-api</a>
     </span>
    </p>
  </ion-item>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="https://avatars.githubusercontent.com/u/34068258?v=4">
    </ion-avatar>

    <span style="display: flex; flex-direction: column; border-bottom: 2px solid #ffca22;">
      <strong> Daniel Oliveira </strong>
      <label> Software Developer</label>
    </span>
  </ion-item>

</ion-content>
